body {
	background-color: #cc8686;
}
header {
	background-color: #D14545;
	background-image: url("cutedogo.jpg");
	background-position: right 5px top 5px;
	background-repeat: no-repeat;
	height: 120px; /* background-image height is 111 */
	padding: 5px;
	padding-left: 20px;
}
footer {
	background-color: #ED0E0E;
}
#content {
	background-color: #eeFFee;
	padding: 15px;
	min-height: 300px;
}
header, footer, #content {
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	box-shadow: 5px 5px 5px black;
}
h2 {
	color: black;
	font-family: verdama, Arial;
}
.floatImg {
	float: left;
	margin: 0px 10px;
}
footer {
	background-color: #66BB99;
	font-family: Verdana, Arial;
	text-align: center;
	font-size: 90%;
	padding: 5px;
}
ul {
	list-style-position: inside;
}
h1{
	color: #000000;
	font-size: 300%;
	font-family: Cambria,Courier;
}